.info_profile {
    display: grid;
    grid-template-columns: auto auto auto 32px;
    grid-template-rows: auto auto;
    -ms-grid-columns: auto auto auto 32px;
    -ms-grid-rows: auto auto;
    grid-gap: 20px 20px;
    gap: 20px 20px;
    grid-area: info_profile;
    grid-template-areas:
    "profile_private_name profile_public_name profile_title user_menu"
    "profile_specie profile_class friend_porfile_espace msg_img";
}

.profile_private_name{grid-area: profile_private_name;}
.profile_public_name{grid-area: profile_public_name;}
.profile_title{grid-area: profile_title;}
.user_menu{grid-area: user_menu;}
.profile_specie{grid-area: profile_specie;}
.profile_class{grid-area: profile_class;}
.friend_porfile_espace{grid-area: friend_porfile_espace;}
.msg_img{grid-area: msg_img;}

.profile_private_name,.profile_public_name,.profile_title,.profile_specie,.profile_class{
    color: white; font-size: 20px
}

.mid_sub_content_friend {
    text-align: center;

    margin: 20px auto;
    color: white;
    width: 80%;
    min-width: 730px;

    padding: 20px 0 20px ;
}

.nick_name_friend{
    margin-top: auto;
    margin-bottom: auto;
}

.cancelbtn_low_size {
    width: auto;
    margin-top: 5px;
    padding: 5px 5px;
    background-color: #f44336;
}

.acceptbtn_low_size {
    width: auto;
    margin-top: 5px;
    padding: 5px 5px;
    background-color: #77df5d;
}

.add_friend_bar{
    text-align: center;
    margin: 20px auto;
    width: 80%;
    min-width: 730px;
    padding: 20px 0;
}

#add_friend_debug{
    color: white;
    margin-top: 11px;
    margin-bottom: 0;
}

.btn_menu_user{
    margin: 0 auto;
    background-color: transparent;
    color: #FFC38A;
    border: none;
}

.request_and_searchbtn_friend{
    display: grid;
    grid-template-columns: auto 125px;
    grid-template-rows: auto;
    -ms-grid-columns: auto 125px;
    -ms-grid-rows: auto;
    grid-gap: 0px 20px;
    gap: 0px 20px;
    margin-left:    20px;
    margin-right:   20px;
    grid-template-areas:
    "search_request_friend_bar send_request_friend_bar";
}


.search_request_friend_bar{grid-area: search_request_friend_bar;}
.send_request_friend_bar{grid-area: send_request_friend_bar;}

.request_friend_list{
    display: grid;
    grid-template-columns: 64px auto;
    grid-template-rows: 64px;
    -ms-grid-columns: 64px auto;
    -ms-grid-rows: 64px;
    grid-gap: 0px 20px;
    gap: 0px 20px;
    grid-template-areas:
    "request_profile_img request_profile_content";
    margin: 20px 20px 0;
}

.request_profile_img{
    border-radius: 15px;
    border: solid rgb(209, 176, 115);
    width: 58px;
    height: 58px;
    grid-area: request_profile_img;
}

.request_profile_content{
    grid-area: request_profile_content;
    border-radius: 15px;
    padding: 0;
    text-align: initial;
    display: grid;
    grid-template-columns: auto auto 100px 100px;
    grid-template-rows: auto;
    -ms-grid-columns: auto auto 100px 100px;
    -ms-grid-rows: auto;
    grid-gap: 0px 20px;
    gap: 0px 20px;
    grid-template-areas:
    "username_request espace_request_list btn_accept_friend_btn btn_reject_friend_btn";
    padding: 10px 10px;
}

/* Pour un bon affichage sur Internet Explorer */
@media all and (-ms-high-contrast:none) {

    .info_profile {
        display: -ms-grid;
        -ms-grid-columns: auto auto auto 32px;
        -ms-grid-rows: auto auto;
        gap: 20px 20px;
    }

    .request_and_searchbtn_friend {
        display: -ms-grid;
        -ms-grid-columns: auto 125px;
        -ms-grid-rows: auto;
        gap: 0px 20px;
    }

    .request_friend_list {
        display: -ms-grid;
        -ms-grid-columns: 64px auto;
        -ms-grid-rows: 64px;
        gap: 0px 20px;
    }

    .request_profile_content {
        display: -ms-grid;
        -ms-grid-columns: auto auto 100px 100px;
        -ms-grid-rows: auto;
        gap: 0px 20px;
    }

}

.btn_accept_friend_btn{
    grid-area: btn_accept_friend_btn;
    height: 32px;
}

.btn_reject_friend_btn{
    grid-area: btn_reject_friend_btn;
    height: 32px;
}

.request_username{
    color: white;
    font-size: 17px;
    height: 32px;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-area: request_username;
}

.espace_request_list{grid-area: espace_request_list;}